* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
img {
	cursor: pointer;
}

.container {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
}
.navbar-top {
	border-bottom: 1px solid #eeeff0;
}
.time {
	padding: 13px 0 11px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.time-items {
	display: flex;
	align-items: center;
	column-gap: 25px;
}
.time-days {
	font-weight: 500;
	font-size: 14px;
	padding-right: 15px;
	border-right: 2px solid #eeeff0;
}
.time-sun {
	font-size: 14px;
	font-weight: 500;
	color: #211f2e;
	display: flex;
	align-items: center;
	column-gap: 10px;
}

#selectId {
	border: none;
	font-weight: 500;
	font-size: 16px;
	color: #211f2e;
	width: 55px;
}
.search-input {
	color: #919099;
	padding: 8px 10px;
	border-radius: 6px;
	border: 0.5px solid #e5e8ea;
	font-size: 14px;
	font-weight: 500;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 20px;
}
nav ul {
	display: flex;
	align-items: center;
	column-gap: 32px;
}
nav ul li a {
	font-size: 16px;
	font-weight: 500;
	color: #211f2e;
}
nav ul li a:hover {
	color: #ff9a50;
	font-weight: 700;
}
.nav-logo {
	font-size: 32px;
	font-weight: 700;
	color: #211f2e;
}
.nav-btn {
	font-size: 14px;
	font-weight: 500;
	color: #919099;
	border-radius: 8px;
	padding: 10px 24px;
	border: 1px solid #919099;
	cursor: pointer;
}
.loader-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background-color: #000;
}
#main {
	background-color: #e5e8ea;
}
#main-content .title {
	text-align: center;
	padding-top: 10rem;
}
#main-content .title h2 {
	font-size: 40px;
	font-weight: 700;
	color: #000000;
}
#main-content .title p {
	font-size: 16px;
	font-weight: 500;
	color: #919099;
	padding-top: 16px;
	padding-bottom: 32px;
}
#main-content .title input {
	padding: 8px 12px;
	border-radius: 6px;
	color: #919099;
	border: 0.5px solid #e5e8ea;
	width: 504px;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10.6rem;
}
.archive-select select {
	padding: 10px 12px;
	width: 169px;
	border-radius: 8px;
	border: 1px solid #919099;
	font-size: 14px;
	font-weight: 500;
	color: #919099;
	margin-bottom: 16px;
}

.tabheader__items {
	display: flex;
	justify-content: space-between;
	gap: 120px;
	margin-bottom: 24px;
	padding: 24px;
	color: rgba(0, 0, 0, 0.4);
	opacity: 1;
}

.tabheader__items .tabheader__item {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	gap: 56px;
	cursor: pointer;
	font-weight: 400;
	font-size: 20px;
}
.tabheader__items .tabheader__item p {
	display: flex;
	justify-content: space-between;
	gap: 56px;
}

.tabheader__items .tabheader__item.tabheader__item_active {
	color: rgba(255, 154, 80, 1);
	font-weight: 600;
	font-size: 30px;
	border-top: 1px solid #ff9a50;
}
.show {
	display: flex !important;
}

.hide {
	display: none !important;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}
.tab_content {
	padding-bottom: 60px;
}
.tab_content h3 {
	font-weight: 400;
	font-size: 32px;
	color: #211f2e;
	margin-bottom: 32px;
}
.tab_content ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 19px 28px;
}
.tab_content ul li h4 {
	color: #ff9a50;
	font-size: 12px;
	font-weight: 500;
	padding: 12px 0 6px 12px;
}
.tab_content ul li p {
	color: #211f2e;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 0 12px 12px;
	height: 40px;
	margin-bottom: 12px;
}

.tab_content ul li span {
	color: #919099;
	font-size: 14px;
	font-weight: 500;
	padding: 12px 0 12px 12px;
	line-height: 150%;
}
#footer {
	background-color: #120e0f;
}
.footer-item {
	padding: 24px 0 32px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(243, 116, 45, 0.2);
}
.footer-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.footer-logo {
	font-size: 40px;
	font-weight: 1000;
	color: #ff9a50;
	line-height: 120%;
	padding-bottom: 32px;
}
.footer-email {
	font-size: 14px;
	font-weight: 500;
	color: #919099;
	line-height: 130%;
	padding-bottom: 12px;
	opacity: 0.8;
}
.footer-phone {
	font-size: 14px;
	font-weight: 500;
	color: #919099;
	line-height: 130%;
	opacity: 0.8;
}
.footer-nav {
	color: #dcc7bc;
	font-size: 16px;
	font-weight: 500;
	line-height: 140%;
}
.footer-nav1 {
	font-size: 14px;
	font-weight: 400;
	opacity: 0.8;
	color: #dcc7bc;
	line-height: 140%;
}
.footer-btn {
	border: 1px solid #ff9a50;
	padding: 10px 24px;
	border-radius: 8px;
	color: #ff9a50;
	font-size: 14px;
	line-height: 140%;
	font-weight: 500;
	cursor: pointer;
	background-color: #120e0f;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 16px 0 17px 0;
}
.footer-copyright {
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
	color: #e7c4b1;
	opacity: 0.4;
}

.modal__content form {
	width: 70%;
}
.modal__content button {
	width: 100%;
	border-radius: 5px;
	font-weight: bold;
	font-size: 17px;
}
.modal__content button:hover {
	transition: all 0.2s ease;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal__dialog {
	max-width: 500px;
	margin: 40px auto;
}
.modal__content {
	position: relative;
	top: 11px;
	right: 285px;
	width: 1097px;
	background-color: #fff;
	border-radius: 14px;
	display: flex;
	padding: 32px;
	overflow-y: auto;
	overflow-y: scroll;
}
.modal__close {
	position: absolute;
	top: 8px;
	right: 14px;
	font-size: 30px;
	color: #000;
	opacity: 0.5;
	font-weight: 700;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 32px;
}
.modal__title {
	text-align: left;
	padding-bottom: 24px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 140%;
}
.modal__imgs {
	display: flex;
	gap: 16px;
	padding: 16px 0;
}
.modal__list {
	display: flex;
	justify-content: space-between;
	width: 1033px;
	padding-bottom: 24px;
}

.modal__list--box {
	display: flex;
	align-items: center;
	gap: 12px;
}

.modal__list--span {
	font-size: 16px;
	font-weight: 600;
	line-height: 140%;
}
.modal__list--text {
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #211f2e;
	width: 641px;
}
.modal__list-card {
	color: #211f2e;
	font-size: 12px;
	font-weight: 600;
	line-height: 140%;
	border: 1px solid #919099;
	padding: 8px;
	border-radius: 24px;
}
.modal__list3 {
	display: flex;
	column-gap: 7px;
}
.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #fff;
	border-bottom-color: #ff3d00;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
